interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://sessionserver.mojang.com/session/minecraft/profile/20455fb4737049589d3cba89d181e413
  response:
    body:
      string: "{\n  \"id\" : \"20455fb4737049589d3cba89d181e413\",\n  \"name\" : \"Advanst\",\n
        \ \"properties\" : [ {\n    \"name\" : \"textures\",\n    \"value\" : \"ewogICJ0aW1lc3RhbXAiIDogMTYyNTI4MTE0MDQ4OCwKICAicHJvZmlsZUlkIiA6ICIyMDQ1NWZiNDczNzA0OTU4OWQzY2JhODlkMTgxZTQxMyIsCiAgInByb2ZpbGVOYW1lIiA6ICJBZHZhbnN0IiwKICAidGV4dHVyZXMiIDogewogICAgIlNLSU4iIDogewogICAgICAidXJsIiA6ICJodHRwOi8vdGV4dHVyZXMubWluZWNyYWZ0Lm5ldC90ZXh0dXJlL2QxZTNhYjI5Nzc2OTk2YzNhZTI1NGQ3YmZiNzEzZDNhNjM0YjhlY2EzZDRhZGY2MDVjYzgxYzVkOTVmMmViOSIKICAgIH0KICB9Cn0=\"\n
        \ } ]\n}"
    headers:
      Content-Type:
      - application/json
      x-minecraft-request-id:
      - 481c4c1e3ec6ac3e
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hypixel.net/player?uuid=20455fb4737049589d3cba89d181e413
  response:
    body:
      string: '{"success":true,"player":{"_id":"51fcdf770cf2bbb36dcdb694","displayname":"Advanst","knownAliasesLower":["advanst"],"playername":"advanst","stats":{"Walls":{"deaths":2},"Arcade":{"coins":44185,"monthly_coins_b":7043,"weekly_coins_a":4239,"stamp_level":0,"time_stamp":1457459822263,"max_wave":18,"headshots_dayone":218,"kills_dayone":291,"weekly_coins_b":2804,"rounds_simon_says":58,"hints":false,"wins_dayone":1},"TNTGames":{"coins":5025},"GingerBread":{"coins":2525},"HungerGames":{"coins":2500},"Arena":{"coins":7525},"Walls3":{"coins":2500},"VampireZ":{"coins":2500},"Quake":{"coins":2733,"packages":["achievement_flag_1"],"kills_teams":43,"deaths_teams":31,"monthly_kills_b":64,"weekly_kills_a":64,"wins_teams":2,"kills":21,"deaths":14,"killstreaks":1},"Paintball":{"coins":25},"MCGO":{"mcgo":{"points":0},"packages":["legacyachievementnewnewnew"],"headshot_kills":34,"deaths_deathmatch":4,"game_wins_deathmatch":1,"criminal_kills_deathmatch":9,"coins":631,"shots_fired":489,"round_wins":16,"weekly_kills_a":36,"kills_deathmatch":9,"monthly_kills_b":36,"kills":27,"bombs_planted":2,"deaths":11,"criminal_kills":22,"game_wins":4,"game_wins_overgrown":1,"game_wins_carrier":1,"cop_kills":5,"game_wins_temple":1,"game_wins_alleyway":1},"SuperSmash":{"lastLevel_THE_BULK":0,"active_class":"BOTMUN","win_streak":0,"class_stats":{"GENERAL_CLUCK":{"damage_dealt_2v2":539,"bazooka":{"kills":5,"kills_2v2":5,"damage_dealt":436,"smasher_2v2":2,"damage_dealt_2v2":436,"smasher":2},"deaths_2v2":5,"egg_bazooka":{"damage_dealt":12,"damage_dealt_2v2":12},"games_2v2":2,"reinforcements":{"damage_dealt":91,"damage_dealt_2v2":91},"games":2,"deaths":5,"smasher_2v2":2,"wins_2v2":1,"win_streak":1,"damage_dealt":539,"wins":1,"smasher":2,"kills_2v2":5,"win_streak_2v2":1,"kills":5,"smashed_2v2":1,"losses_2v2":1,"flaming_desert_eagle":{"smashed_2v2":1,"smashed":1},"smashed":1,"losses":1},"BOTMUN":{"melee":{"smashed":1,"smashed_2v2":1},"deaths":3,"damage_dealt_2v2":108,"games":1,"ki_blast":{"smashed":1,"smashed_2v2":1},"batarang":{"damage_dealt":108,"damage_dealt_2v2":108},"deaths_2v2":3,"damage_dealt":108,"smashed":2,"losses_2v2":1,"losses":1,"games_2v2":1,"smashed_2v2":2}},"deaths_2v2":8,"damage_dealt":647,"smasher_2v2":2,"wins_2v2":1,"smasher":2,"coins":144,"games_weekly_a":3,"kills_2v2":5,"games_2v2":3,"kills_monthly_b":5,"games_monthly_b":3,"damage_dealt_2v2":647,"kills":5,"wins":1,"deaths":8,"wins_weekly_a":1,"kills_weekly_a":5,"games":3,"wins_monthly_b":1,"xp_GENERAL_CLUCK":160.0,"votes_Dojo":1,"lastLevel_GENERAL_CLUCK":2,"losses_2v2":2,"losses_weekly_a":2,"losses_monthly_b":2,"losses":2,"smashed_2v2":3,"smashed":3,"smash_level_total":2,"smashLevel":2,"xp_BOTMUN":20.0,"votes_Agora":1,"lastLevel_BOTMUN":0},"BuildBattle":{"wins_teams_normal":4,"wins":4,"coins":857,"games_played":6,"monthly_coins_a":857,"score":105,"teams_most_points":332,"total_votes":55,"weekly_coins_a":857},"Pit":{"profile":{"outgoing_offers":[],"leaderboard_stats":{},"last_save":1577231361578,"king_quest":{"kills":2},"inv_armor":{"type":0,"data":[31,-117,8,0,0,0,0,0,0,0,-29,98,96,-32,100,96,-52,-28,98,96,96,96,97,98,96,-54,76,97,52,100,100,96,117,-50,47,-51,43,97,-28,98,96,46,73,76,103,100,-32,14,-51,75,42,74,77,-52,78,76,-54,73,101,100,96,98,96,115,73,-52,77,76,79,5,106,-127,-24,48,32,89,-121,49,9,58,24,24,0,70,-74,77,-75,-92,0,0,0]},"login_messages":[],"xp":47,"inv_contents":{"type":0,"data":[31,-117,8,0,0,0,0,0,0,0,-29,98,96,-32,100,96,-52,-28,98,96,96,80,97,98,96,-54,76,97,-28,102,100,96,117,-50,47,-51,43,97,-28,98,96,46,73,76,103,100,-32,14,-51,75,42,74,77,-52,78,76,-54,73,101,100,96,98,96,115,73,-52,77,76,79,5,106,-127,-24,96,37,65,7,4,64,-12,-79,-63,-12,41,96,-86,-64,14,0,-127,123,-123,-107,-82,0,0,0]},"zero_point_three_gold_transfer":true,"bounties":[],"cash":49.78,"cash_during_prestige_0":49.78},"pit_stats_ptl":{"arrow_hits":5,"arrows_fired":9,"assists":3,"bow_damage_dealt":14,"bow_damage_received":5,"cash_earned":49,"damage_dealt":89,"damage_received":166,"deaths":7,"gapple_eaten":1,"joins":2,"jumped_into_pit":4,"kills":2,"launched_by_launchers":3,"left_clicks":29,"max_streak":1,"melee_damage_dealt":75,"melee_damage_received":161,"sword_hits":23,"playtime_minutes":5}},"SkyBlock":{"profiles":{"20455fb4737049589d3cba89d181e413":{"profile_id":"20455fb4737049589d3cba89d181e413","cute_name":"Mango"}}},"Bedwars":{"first_join_7":true,"bedwars_easter_boxes":1,"Experience":1307,"games_played_bedwars_1":6,"four_three_winstreak":0,"_items_purchased_bedwars":83,"beds_lost_bedwars":6,"coins":378,"emerald_resources_collected_bedwars":9,"entity_attack_final_deaths_bedwars":6,"entity_attack_final_kills_bedwars":3,"entity_attack_kills_bedwars":5,"final_deaths_bedwars":6,"final_kills_bedwars":3,"four_three__items_purchased_bedwars":55,"four_three_beds_lost_bedwars":3,"four_three_emerald_resources_collected_bedwars":4,"four_three_entity_attack_final_deaths_bedwars":3,"four_three_entity_attack_final_kills_bedwars":1,"four_three_entity_attack_kills_bedwars":4,"four_three_final_deaths_bedwars":3,"four_three_final_kills_bedwars":1,"four_three_games_played_bedwars":3,"four_three_gold_resources_collected_bedwars":68,"four_three_iron_resources_collected_bedwars":400,"four_three_items_purchased_bedwars":61,"four_three_kills_bedwars":7,"four_three_losses_bedwars":3,"four_three_permanent
        _items_purchased_bedwars":6,"four_three_resources_collected_bedwars":486,"four_three_void_kills_bedwars":3,"games_played_bedwars":6,"gold_resources_collected_bedwars":105,"iron_resources_collected_bedwars":695,"items_purchased_bedwars":91,"kills_bedwars":9,"losses_bedwars":5,"permanent
        _items_purchased_bedwars":8,"resources_collected_bedwars":827,"void_kills_bedwars":4,"deaths_bedwars":5,"entity_attack_deaths_bedwars":2,"four_three_deaths_bedwars":4,"four_three_entity_attack_deaths_bedwars":2,"diamond_resources_collected_bedwars":18,"four_three_diamond_resources_collected_bedwars":14,"four_three_void_deaths_bedwars":2,"void_deaths_bedwars":3,"winstreak":0,"eight_two_winstreak":0,"eight_two__items_purchased_bedwars":28,"eight_two_beds_lost_bedwars":3,"eight_two_entity_attack_final_deaths_bedwars":3,"eight_two_entity_attack_final_kills_bedwars":2,"eight_two_final_deaths_bedwars":3,"eight_two_final_kills_bedwars":2,"eight_two_games_played_bedwars":3,"eight_two_gold_resources_collected_bedwars":37,"eight_two_iron_resources_collected_bedwars":295,"eight_two_items_purchased_bedwars":30,"eight_two_resources_collected_bedwars":341,"eight_two_wins_bedwars":1,"wins_bedwars":1,"eight_two_diamond_resources_collected_bedwars":4,"eight_two_emerald_resources_collected_bedwars":5,"eight_two_losses_bedwars":2,"beds_broken_bedwars":1,"eight_two_beds_broken_bedwars":1,"eight_two_deaths_bedwars":1,"eight_two_entity_attack_kills_bedwars":1,"eight_two_kills_bedwars":2,"eight_two_permanent
        _items_purchased_bedwars":2,"eight_two_void_deaths_bedwars":1,"eight_two_void_kills_bedwars":1}},"uuid":"20455fb4737049589d3cba89d181e413","firstLogin":1457459218156,"lastLogin":1586471533794,"knownAliases":["Advanst"],"achievementsOneTime":["general_first_join","general_first_friend","general_first_chat","general_youtuber","arcade_creeper_attack_iron_golem","copsandcrims_homing_bullets","copsandcrims_late_to_the_party","copsandcrims_run_away","arcade_pig_fishing_super_bacon","general_first_game","quake_simple_things","quake_team_player","quake_bogof","quake_doubling_up","general_first_party","buildbattle_over_99","buildbattle_teamwork","housing_join_guild","christmas2017_hunt_begins_2019","skyblock_your_big_break","skyblock_lost_soul","skyblock_quest_complete","bedwars_its_dark_down_there","bedwars_thats_a_first","bedwars_already_over","bedwars_survivor","bedwars_first_blood","bedwars_buggy_beds","bedwars_rejoining_the_dream"],"eugene":{"dailyTwoKExp":1463544249110},"networkExp":70890.0,"petConsumables":{"MUSHROOM_SOUP":3,"BAKED_POTATO":3,"HAY_BLOCK":5,"FEATHER":9,"BREAD":3,"SLIME_BALL":9,"CAKE":4,"WATER_BUCKET":16,"WOOD_SWORD":14,"MELON":3,"MILK_BUCKET":16,"PORK":4,"GOLD_RECORD":8,"LEASH":12,"LAVA_BUCKET":25,"MAGMA_CREAM":7,"APPLE":4,"ROTTEN_FLESH":2,"COOKED_BEEF":3,"STICK":7,"BONE":3,"WHEAT":8,"COOKIE":3,"CARROT_ITEM":1,"RAW_FISH":1,"PUMPKIN_PIE":2,"RED_ROSE":4},"vanityMeta":{"packages":["hat_koala","hat_clownfish","hat_letter_a","emote_sad"]},"mcVersionRp":"1.15.1","spec_always_flying":true,"karma":930,"friendRequestsUuid":[],"achievements":{"copsandcrims_bomb_specialist":2,"copsandcrims_cac_banker":623,"copsandcrims_serial_killer":30,"copsandcrims_hero_terrorist":5,"quake_kills":64,"quake_wins":2,"general_wins":2,"quake_killing_sprees":1,"supersmash_smash_winner":1,"supersmash_hero_slayer":5,"supersmash_smash_champion":4,"buildbattle_build_battle_voter":55,"buildbattle_build_battle_points":176,"buildbattle_build_battle_score":105,"general_challenger":3,"skyblock_treasury":15,"skyblock_minion_lover":2,"skyblock_excavator":1,"skyblock_gatherer":2,"skyblock_augmentation":1,"skyblock_harvester":3,"skyblock_combat":2,"bedwars_level":1,"bedwars_bedwars_killer":6,"bedwars_wins":1,"bedwars_beds":1},"housingMeta":{"allowedBlocks":["143:0","17:0"],"playerSettings":{"VISIBILITY":"IntegerState-0"}},"levelingReward_0":true,"levelingReward_1":true,"levelingReward_2":true,"currentEmote":"SAD","achievementPoints":250,"achievementTracking":[],"challenges":{"all_time":{"BUILD_BATTLE__top_3_challenge":2,"BEDWARS__support":1}},"parkourCheckpointBests":{"BuildBattle":{"0":14053,"1":10305,"2":14301,"3":5401}},"parkourCompletions":{"BuildBattle":[{"timeStart":1576986567581,"timeTook":45103}]},"lastLogout":1586471546424,"mostRecentGameType":"BEDWARS","levelingReward_3":true,"achievementRewardsNew":{"for_points_200":1578100284430}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '120'
      RateLimit-Remaining:
      - '119'
      RateLimit-Reset:
      - '12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hypixel.net/friends?uuid=20455fb4737049589d3cba89d181e413
  response:
    body:
      string: '{"success":true,"uuid":"20455fb4737049589d3cba89d181e413","records":[{"_id":"5e0fe14e0cf2734bfe66497d","uuidSender":"20455fb4737049589d3cba89d181e413","uuidReceiver":"22e4f98c52964a30bb293477c10c251f","started":1578099022087},{"_id":"56df17530cf28ec79917b8f2","uuidSender":"10507816911144cab740c07445ce9b2d","uuidReceiver":"20455fb4737049589d3cba89d181e413","started":1457461075534},{"_id":"573a92970cf239079469a105","uuidSender":"3ed1e177ba8144668d4f9a8a8c075022","uuidReceiver":"20455fb4737049589d3cba89d181e413","started":1463456407546}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '120'
      RateLimit-Remaining:
      - '118'
      RateLimit-Reset:
      - '12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hypixel.net/recentgames?uuid=20455fb4737049589d3cba89d181e413
  response:
    body:
      string: '{"success":true,"uuid":"20455fb4737049589d3cba89d181e413","games":[{"date":0,"gameType":"mock","mode":"mock","map":"mock","ended":0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '120'
      RateLimit-Remaining:
      - '117'
      RateLimit-Reset:
      - '12'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hypixel.net/status?uuid=20455fb4737049589d3cba89d181e413
  response:
    body:
      string: '{"success":true,"uuid":"20455fb4737049589d3cba89d181e413","session":{"online":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '120'
      RateLimit-Remaining:
      - '116'
      RateLimit-Reset:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hypixel.net/guild?uuid=20455fb4737049589d3cba89d181e413
  response:
    body:
      string: '{"success":false,"cause":"Missing one or more fields [id,name,player]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '120'
      RateLimit-Remaining:
      - '119'
      RateLimit-Reset:
      - '50'
    status:
      code: 400
      message: Bad Request
version: 1
