interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.mojang.com/users/profiles/minecraft/Preocts
  response:
    body:
      string: '{"name":"Preocts","id":"e545401364504b3d947903b4f602a3a5"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hypixel.net/player?uuid=e545401364504b3d947903b4f602a3a5
  response:
    body:
      string: '{"success":true,"player":{"_id":"60d7ed8a8ddd36626aef50b8","uuid":"e545401364504b3d947903b4f602a3a5","displayname":"Preocts","firstLogin":1624763786867,"knownAliases":["Preocts"],"knownAliasesLower":["preocts"],"lastLogin":1624763786867,"playername":"preocts","achievementsOneTime":["general_first_join"],"lastLogout":1624763889274}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '120'
      RateLimit-Remaining:
      - '119'
      RateLimit-Reset:
      - '17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.hypixel.net/friends?uuid=e545401364504b3d947903b4f602a3a5
  response:
    body:
      string: '{"success":true,"uuid":"e545401364504b3d947903b4f602a3a5","records":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      RateLimit-Limit:
      - '120'
      RateLimit-Remaining:
      - '119'
      RateLimit-Reset:
      - '39'
    status:
      code: 200
      message: OK
version: 1
